body {
	background: #ddd;
}

.ms .start {
	display: none;
}

.ms.won .start,
.ms.lost .start {
	display: initial;
}

.ms .field-wrapper {
	position: relative;
}

.ms .cell-parent {
	padding: 0;
	list-style: none;
	border: 2px inset #ccc;
	overflow: hidden;
}

.ms li {
	width: 24px;
	height: 24px;
	float: left;
	border: 2px outset #ccc;
	text-align: center;
	line-height: 22px;
	cursor: default;
	background: #e7e7e7;
	box-sizing: border-box;
}

.ms .revealed {
	border: 1px solid #ccc;
	border-width: 1px 0 0 1px;
}

.ms [data-num-adj].revealed:before {
	content: attr(data-num-adj);
}

.ms .flagged:before {
	content: 'P';
}

.ms.lost .mine:not(.flagged):before {
	content: '*';
	line-height: 28px;
	color: red;
}



.ms .field-overlay {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.ms.won .field-overlay,
.ms.lost .field-overlay {
	display: block;
}