body {
	background: #ddd;
}

#field {
	padding: 0;
	list-style: none;
	border: 2px inset #ccc;
	overflow: hidden;
}

#field li {
	width: 24px;
	height: 24px;
	float: left;
	border: 2px outset #ccc;
	text-align: center;
	line-height: 22px;
	cursor: default;
	background: #e7e7e7;
	box-sizing: border-box;
}

#field .revealed {
	border: 1px solid #ccc;
	border-width: 1px 0 0 1px;
}

#field [data-num-adj].revealed:before {
	content: attr(data-num-adj);
}

#field .flagged:before {
	content: 'P';
}

#field.exploded .mine:before {
	content: '*';
	line-height: 28px;
}

#field.exploded li,
#field .flag {
	color: red;
}